@use "sass:math";

@use "/app/styles/abstract/" as *;
@use "/app/styles/system";

.nav {
	direction: rtl;
	background-color: hsl(0, 0%, 100%);
	box-shadow: $box-shadow;
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
	align-items: center;
	justify-content: space-between;

	padding: system.$default-gap system.$mobile-padding;
	max-height: 7.5rem;

	@include desktop {
		flex-direction: row;
		padding: math.div(system.$default-gap, 2) system.$desktop-padding;
	}

	.logo {
		position: relative;
	}

	.links {
		ul {
			display: flex;
			gap: system.$default-gap * 3;
			flex-flow: column wrap;
			list-style-type: none;
			padding: 0;

			@include desktop {
				flex-flow: row nowrap;
			}

			li {
				color: hslac($clr-black);
				transition: color 0.2s;

				&:hover {
					color: hslac($clr-black, 70%);
				}

				&.active {
					color: hslac($clr-blue);

					&:hover {
						color: hslac($clr-blue, 70%);
					}
				}
			}
		}
	}

	.contact {
		justify-self: flex-start;
		direction: ltr;
		display: none;

		@include desktop {
			display: block;
		}
	}
}
