$background-white: hsl(223, 100%, 99%);
$background-grey: hsl(0, 0%, 97%);
$clr-light-blue: hsl(223, 100%, 99%);
$clr-dark-blue: hsl(229, 60%, 37%);
$clr-green: hsl(140, 53%, 60%);
$clr-jade: hsl(167, 71%, 60%);
$clr-red: hsl(5, 100%, 62%);
$clr-black: hsl(0, 0%, 20%);
$clr-brown: hsl(17, 55%, 42%);
$clr-cream: hsl(17, 83%, 71%);
$clr-grey: hsl(240, 2%, 68%);
$clr-dark-grey: hsl(203, 30%, 27%);
$clr-orange: hsl(38, 100%, 58%);
$clr-purple: hsl(246, 35%, 53%);
$clr-violet: hsl(236, 42%, 53%);
$clr-blue: hsl(215, 100%, 69%);
$clr-cyan: hsl(189, 87%, 40%);
$clr-yellow: hsl(47, 100%, 69%);
$clr-sun: hsl(42, 100%, 63%);

$box-shadow: hsl(0 0% 0% / 0.1) 0px 0px 4px 0px,
	hsl(0 0% 0% / 0.1) 0px 0px 1px 0px;

$hover-shadow: hsl(0 0% 0% / 0.1) 0px 2px 4px 0px,
	hsl(0 0% 0% / 0.1) 0px 0px 1px 0px;

$cart-item-shadow: hsl(0 0% 0% / 0.1) 0px 5px 15px 0px;

$cart-item-hover-shadow: hsl(0 0% 0% / 0.2) 0px 10px 15px 0px;
