@use "sass:math";

@use "/app/styles/abstract/" as *;
@use "/app/styles/system";

.UsernameForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.form {
		width: 100%;

		@include desktop {
			width: 50%;
		}

		.formContainer {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: system.$default-gap;

			& > * {
				margin-bottom: math.div(system.$default-gap, 2);
			}

			.formItem {
				flex: 1 0 auto;
				&Full {
					flex-basis: 100%;
				}
				.formLabel {
					clip: rect(0 0 0 0);
					clip-path: inset(50%);
					height: 1px;
					overflow: hidden;
					position: absolute;
					white-space: nowrap;
					width: 1px;
				}

				.formInput {
					border: 1px solid transparent;
					box-shadow: $box-shadow;
					width: 100%;
					height: 5rem;
					border-radius: system.$default-radius;
					padding: system.$default-gap;
					font-size: 1.4rem;
					transition: border 0.2s ease-in-out;
					outline: none;

					&::placeholder,
					&:-ms-input-placeholder,
					&::-ms-input-placeholder {
						/* Chrome, Firefox, Opera, Safari 10.1+ */
						color: hslac($clr-grey);
						opacity: 1; /* Firefox */
					}

					&:active,
					&:focus,
					&:focus-visible {
						border: 1px solid hslac($clr-blue);
					}

					&Ltr {
						direction: ltr;
					}

					&Partitioned {
						padding-left: 3rem;
						letter-spacing: 42px;
						border: 0;
					}
				}

				.formError {
					text-align: right;
					font-size: 1.4rem;
					color: hslac($clr-red);
					margin-top: 1rem;
				}
			}

			.formAction {
				.formButton {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: math.div(system.$default-gap, 2);
					margin-top: 3rem;
					padding: system.$default-gap;
					height: 5rem;
					width: 100%;
					background-color: hslac($clr-red);
					color: hslac(#fff);
					border-radius: system.$default-radius;
					border: none;
					cursor: pointer;
					transition: background-color 0.2s ease-in-out, color 0.2s;
					font-size: 1.4rem;

					&:hover {
						background-color: hslac($clr-red, 80%);
						color: hslac(#fff, 95%);
					}
				}

				.backButton {
					display: flex;
					justify-content: center;
					align-items: center;
					border: none;
					font-size: 1.2rem;
					gap: 0.5rem;
					cursor: pointer;
					transition: color 0.2s ease;

					&:hover {
						color: hslac($clr-blue);
					}
				}
			}
		}
	}
}
