@use "/app/styles/abstract/" as *;
@use "/app/styles/system";

.productRow {
	h2 {
		font-size: 2.8rem;
		margin-bottom: system.$default-gap;
	}

	.rowDisplay {
		display: flex;
		flex-direction: column;
		gap: system.$default-gap;
		flex-wrap: wrap;
		justify-content: center;

		@include desktop {
			flex-direction: row;
		}

		& > * {
			flex: 1 1 100%;
			min-width: 25rem;
			// max-width: calc(100vw - (system.$mobile-padding * 2));

			@include desktop {
				flex: 1 1 21%;
				max-width: auto;
			}
		}
	}
}
