@use "sass:math";

@use "/app/styles/abstract/" as *;
@use "/app/styles/system";

.AuthGrid {
	direction: rtl;
	display: grid;
	// grid-auto-rows: minmax(1fr, max-content);
	grid-auto-rows: auto;
	grid-template-columns: minmax(0, 1fr);
	grid-template-areas: "authBox";

	background: linear-gradient(
		to right,
		hsl(234, 25%, 92%),
		hsl(220, 29%, 91%),
		hsl(220, 33%, 90%)
	);

	// all items be 100%;
	& > * {
		// width: 100vw;
		margin: (system.$default-gap * 2) system.$mobile-padding;

		@include desktop {
			margin: (system.$default-gap * 2) system.$desktop-padding;
		}
	}

	.wrapper {
		grid-area: authBox;
		// background-color: hslac($background-white);
		border-radius: system.$default-radius;
		padding: system.$default-gap;
		box-shadow: $box-shadow;
		display: flex;
		flex-direction: column;
		gap: system.$default-gap;

		background: linear-gradient(
			to right,
			hsl(0, 0%, 97%),
			hsla(0, 0%, 100%, 0.25)
		);
		box-shadow: 0 8px 32px 0 rgba(241, 241, 247, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 2px solid rgba(255, 255, 255, 0.938);

		@include desktop {
			padding: math.div(system.$default-gap, 2);
		}

		.container {
			display: flex;
			flex-direction: column;
			gap: system.$default-gap;

			& > * {
				flex: 1 1 50%;
			}

			@include desktop {
				flex-direction: row;
			}

			.image {
				background-color: hslac($clr-sun);
				border-radius: system.$default-radius;
				display: none;
				justify-content: center;
				align-items: center;
				padding: system.$default-gap * 4;

				&Container {
					position: relative;
					min-height: 60vh;
					width: 100%;
				}

				@include desktop {
					display: flex;
				}
			}

			.auth {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.message {
					text-align: center;
					margin-bottom: (system.$default-gap);

					.header {
						font-size: 3rem;
						font-weight: 500;
						display: block;
						margin-bottom: system.$default-gap;
					}

					.welcome {
						font-size: 1.6rem;
					}
				}

				.switch {
					margin-top: system.$default-gap;
					font-size: 1.3rem;
					display: flex;
					justify-content: center;
					gap: 0.5rem;

					a {
						transition: color 0.3s ease;
						&:hover {
							color: hslac($clr-blue, 90%);
						}
					}
				}

				.formWrapper {
					width: 100%;
				}

				.other {
					margin: (system.$default-gap * 2);

					.overlay {
						display: block;
						text-align: center;
						font-size: 1.2rem;
						overflow: hidden;
						background-color: inherit;

						&:before,
						&:after {
							content: "";
							height: 1px;
							display: inline-block;
							position: relative;
							vertical-align: middle;
							width: 50%;
						}

						&:before {
							right: 7.5rem;
							margin-left: -50%;

							background: linear-gradient(
								to right,
								hslac(#fff, 0.5),
								20%,
								hslac(#fff, 0.7),
								80%,
								hslac(#fff)
							); /* Chrome10-25,Safari5.1-6 */
						}

						&:after {
							left: 7.5rem;
							margin-right: -50%;

							background: linear-gradient(
								to left,
								hslac(#fff, 0.5),
								20%,
								hslac(#fff, 0.7),
								80%,
								hslac(#fff)
							); /* Chrome10-25,Safari5.1-6 */
						}
					}

					.OAuth {
						display: flex;
						flex-direction: row;
						justify-content: center;
						gap: system.$default-gap;
						margin-top: system.$default-gap;

						.logoButton {
							position: relative;
							border: 1px solid #fff;
							border-radius: system.$default-radius;
							padding: 1rem 2rem;
							transition: all 0.3s ease-in-out;

							&:hover {
								background-color: #fff;
								border: 1px solid transparent;
								box-shadow: $hover-shadow;
								transform: scale(1.1, 1.1);
							}

							.icon {
								display: flex;
							}
						}
					}
				}
			}
		}
	}
}
