@use "/app/styles/abstract/" as *;
@use "/app/styles/system";

.hero {
	display: grid;
	gap: system.$default-gap;
	grid-template-columns: repeat(1, minmax(20rem, 1fr));
	grid-template-rows: minmax(75rem, 1fr);

	@include desktop {
		grid-template-columns: minmax(0, 1fr);
		grid-auto-rows: auto;
	}
}
