@use "sass:math";

@use "/app/styles/abstract/" as *;
@use "/app/styles/system";

.rows {
	& > * {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: system.$default-gap;
	}

	.number {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		color: inherit;
		font-size: 1.8rem;
	}

	.currency {
		font-size: 1.4rem;
	}
}
